@import url("https://fonts.googleapis.com/css?family=Poppins");
body{
    font-family: "Poppins";
}
.first{
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
}
.first-page{
    margin-top: 6%;
}
.space{
    padding: 5%;
}
.about p{
    margin-right: 2%;
    margin-left: 2%;
    padding: 0.5%;
}
.services{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/backgrounds/s_image.jpg);
    background-size: cover;
    height: 65vh;
    color: white;
    font-size: large;
    font-weight: 500;
}
.services div{
    margin-top: 5%;
    margin-bottom: 5%;
}
.whatWeDo{
    margin-top: 5%;
}
.DesignWording,.DevelopmentWording, .ProductWording{
    display: none;
} 